<html>
    <head>
        <title>Ege</title>
    </head>
    <body>
        <div>
            <h1><a href="/">BLOG</a></h1>
        </div>
        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Blog Entry 1</a></h2>
            <p>Test</p>
            <p>Test</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:20</p>
            <h2><a href="">Blog Entry 2</a></h2>
            <p>Test</p>
            <p>Test</p>
        </div>
    </body>
</html>